.container {
    display: flex;
    align-items: center;
    background-color: #252525;
    max-width: 190px;
    height: 30px;
    padding: 10px;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
  }
  
  .container:focus {
    color: rgb(0, 255, 255);
    background-color: #212121;
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    transition: .1s;
    transition-property: box-shadow;
  }

  .container input {
    flex: 1;
  }

  .container button {
    font-family: monospace;
    font-size: 1.5rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin-left: 1em;
  }